body{
  background-color: #1E1E1D;
  color: #F2F4F7;
}
#container{
  background-color: #1E1E1D;
  /*background: url("http://il5.picdn.net/shutterstock/videos/14412343/thumb/1.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  height: 30px;
  align: center;
}
a{
  color: #F2F4F7;
}
li{
  display: inline;
  padding: 15px;
}
main{
  height: 300px;
  width: 800px;
}
main img{
  margin-left: 47%;
  margin-top: 100px;
}
main p{
  margin-top: 400px;
}
h1{
  color: #F2F4F7;
  margin-left: 300px;
}
span{
background-color: inherit;
margin-top: 0px;
margin-left: 25%;
}
