*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
}
/*font-family: 'Special Elite', cursive;*/
/*font-family: 'Love Ya Like A Sister', cursive;*/
