*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  /*font-family: "Helvetica Neue", 'Nunito',Helvetica, Arial, sans-serif;*/
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 1.25em;
  height: 100%;
  color: #000;
}
/*font-family: 'Special Elite', cursive;*/
/*font-family: 'Love Ya Like A Sister', cursive;*/
