
/*------------------* SECTION *--------------------*/
#about{
 width: 100%;
 /*font-family: 'Special Elite', cursive;*/
 font-family: 'Love Ya Like A Sister', cursive;
}
#about h2{
  text-align: center;
  padding: 1em;
  font-size: 2.5em;
  font-weight: bold;
}
#about p, .connect-me{
  width: 70%;
  margin-left: 15%;
  text-align: justify;
  margin-top: 5%;
  color: gray;
}
.connect-me li{
  display: inline-block;
  font-weight: bold;
  padding-right: 2.5em;
  padding-bottom: 1em;
  color: black;
}

@media screen and (min-width: 450px) {
  #about{
    width: 50%;
  }
}
