.parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*============================= section hello=================*/
article h1{
 font-size: 160px;
 font-weight: bold;
 position: relative;
 top: 2em;
 left: 0.3em;
}
article p{
 position: relative;
 top: 20em;
 left: 3.3em;
 width: 40%;
font-size: 18px;
line-height: 150%;
}
