.about{
 width: 100%;
 position: absolute;
 top: 25%;
 h2{
  text-align: center;
  padding-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
}

 p, .connect-me{
  width: 70%;
  margin-left: 15%;
  text-align: justify;
  margin-top: 5%;
  color: gray;
}
.connect-me li{
  display: inline-block;
  font-weight: bold;
  padding-right: 0.5em;
  padding-bottom: 1em;
  color: black;
}
}
.fade-in-left {
	// -webkit-animation: fadeinleft 600ms ease-in-out;
	//   -moz-animation: fadeinleft 600ms ease-in-out;
	//   -o-animation: fadeinleft 600ms ease-in-out;
	//   -ms-animation: fadeinleft 600ms ease-in-out;
	  animation: fadeinleft 600ms ease-in;
    animation-delay: 1s, 1s;
}
.fade-out-left{
  animation: fadeoutleft 600ms ease-in;
  transition: 0.2s;
}
// @-webkit-keyframes fadeinleft {
//     0%{
//     opacity: 0;
//     -webkit-transform: translateX(100%);
//   }
//   100%{
//     opacity: 1;
//     -webkit-transform: translateX(0%);
//   }
// }
// @-moz-keyframes fadeinleft {
//     0%{
//     opacity: 0;
//     -moz-transform: translateX(100%);
//   }
//   100%{
//     opacity: 1;
//     -moz-transform: translateX(0%);
//   }
// }
@keyframes fadeinleft {
    0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fadeoutleft {
    0%{
    opacity: 1;
    transform: translateX(0%);
  }
  100%{
    opacity: 0;
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 450px) {
  .about{
    width: 50%;
    left: 5%;
  }
}
