<section class="about">
  <h2>Bhavya Bharti</h2>
  <p>
    I'm freelancer full stack developer living in Seattle WA.
    I have strong technical knowledge with good experiance in
    back end and frontend design. I spend my days designing systematic
    methods to help humans interact with digital interfaces in a clean,
    modern, and usable manner.
  </p>
  <ul class="connect-me">
    <li>say hi</li>
    <li>LinkedIn</li>
    <li>Blogs</li>
  </ul>

  <button
  ng-click="aboutCtrl.isCollapsedHorizontal = !aboutCtrl.isCollapsedHorizontal">
  Toggle collapse Horizontally</button>
	<div class="horizontal-collapse"
  uib-collapse="aboutCtrl.isCollapsedHorizontal" horizontal>
	   <div>Some content</div>
  </div>
</section>
