<section class="about">
  <h2>Bhavya Bharti</h2>
  <p>
    I'm freelancer full stack developer living in Seattle WA.
    I have strong technical knowledge with good experiance in
    back end and frontend design. I spend my days designing systematic
    methods to help humans interact with digital interfaces in a clean,
    modern, and usable manner.
  </p>
  <ul class="connect-me">
    <li>say hi</li>
    <li>LinkedIn</li>
    <li>Blogs</li>
  </ul>
  <button type="button" class="btn btn-info">bootstrap</button>
</section>
